#sun {
	position: relative;
	width: 350px;
	height: 350px;
	background: url("../images/Maps/Sun.jpg");
	border-radius: 50%;
	background-size: 775px;
	background-position: center;
	animation:sunglow 10s ease-in-out infinite alternate, rotatesun 28s infinite linear;
	-ms-transform: translateY(-50%); /* IE 9 */
	-webkit-transform: translateY(-50%); /* Chrome, Safari, Opera */
	transform: translateY(-50%);
	z-index: -99;
    margin: auto;
	margin-top:15em;
}

#mercury {
	position: relative;
    width: 100px;
	height: 100px;
	background: url("../images/Maps/Mercury.png");
	border-radius: 50%;
	background-size: 280px;
	background-position: center;
	box-shadow: inset -16px 0 50px 6px rgb(0, 0, 0),
		inset 16px 0 50px 2px rgba(255, 253, 230, 0.45);
	animation-name: rotatemercury;
	animation-duration: 20s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	-ms-transform: translateY(-50%) rotate(-7deg); /* IE 9 */
	-webkit-transform: translateY(-50%) rotate(-7deg); /* Chrome, Safari, Opera */
	transform: translateY(-50%) rotate(-7deg);
	z-index: -99;
    margin: auto;
	margin-top:15em;
}

#venus {
	position: relative;
    width: 155px;
	height: 155px;
	background: url("../images/Maps/Venus.jpg");
	border-radius: 50%;
	background-size: 280px;
	background-position: center;
	box-shadow: inset -16px 0 50px 6px rgb(0, 0, 0),
		inset 16px 0 50px 2px rgba(255, 253, 230, 0.45);
	animation-name: rotatevenus;
	animation-duration: 30s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	-ms-transform: translateY(-50%) rotate(-3.3deg); /* IE 9 */
	-webkit-transform: translateY(-50%) rotate(-3.3deg); /* Chrome, Safari, Opera */
	transform: translateY(-50%) rotate(-3.3deg);
	z-index: -99;
    margin: auto;
	margin-top:15em;
}

#earth {
	position: relative;
    width: 160px;
	height: 160px;
	background: url("../images/Maps/Earth.jpg");
	border-radius: 50%;
	background-size: 340px;
	background-position: center center;
	box-shadow: inset -16px 0 50px 6px rgb(0, 0, 0),
		inset 16px 0 50px 2px rgba(255, 253, 230, 0.45);
	animation-name: rotateearth;
	animation-duration: 9s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	-ms-transform: translateY(-50%) rotate(-7.15deg); /* IE 9 */
	-webkit-transform: translateY(-50%) rotate(-7.15deg); /* Chrome, Safari, Opera */
	transform: translateY(-50%) rotate(-7.15deg);
	z-index: -99;
    margin: auto;
	margin-top:15em;
}

#mars {
	position: relative;
    width: 115px;
	height: 115px;
	background: url("../images/Maps/Mars.png");
	border-radius: 50%;
	background-size: 260px;
	background-position: center center;
	box-shadow: inset -16px 0 50px 6px rgb(0, 0, 0),
		inset 16px 0 50px 2px rgba(255, 253, 230, 0.45);
	animation-name: rotatemars;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	-ms-transform: translateY(-50%) rotate(-1.85deg); /* IE 9 */
	-webkit-transform: translateY(-50%) rotate(-1.85deg); /* Chrome, Safari, Opera */
	transform: translateY(-50%) rotate(-1.85deg);
	z-index: -99;
    margin: auto;
	margin-top:15em;
}

#jupiter {
	position: relative;
    width: 270px;
	height: 270px;
	background: url("../images/Maps/Jupiter.jpg");
	border-radius: 50%;
	background-size: 600px;
	background-position: center center;
	box-shadow: inset -16px 0 50px 6px rgb(0, 0, 0),
		inset 16px 0 50px 2px rgba(255, 253, 230, 0.45);
	animation-name: rotatejupiter;
	animation-duration: 75s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	-ms-transform: translateY(-50%) rotate(-1.3deg); /* IE 9 */
	-webkit-transform: translateY(-50%) rotate(-1.3deg); /* Chrome, Safari, Opera */
	transform: translateY(-50%) rotate(-1.3deg);
	z-index: -99;
    margin: auto;
	margin-top:15em;
}

#saturn {
  width: 400px;
  height: 400px;
  position: relative;
  margin: auto;
  transform: rotateZ(-15deg);
  
}

.rings {
  position: relative;
  width: 100%;
  height: 100%;
  
  background: -moz-radial-gradient(center, ellipse cover,  rgba(24,19,25,0) 0%, rgba(53,52,51,0) 34%, rgba(55,54,52,1) 36%, rgba(56,55,53,1) 37%, rgba(68,67,66,1) 38%, rgba(56,55,53,1) 39%, rgba(68,67,66,1) 40%, rgba(56,55,53,1) 41%, rgba(87,77,76,1) 42%, rgba(87,77,76,1) 44%, rgba(113,110,103,1) 46%, rgba(113,110,103,1) 48%, rgba(113,98,93,1) 49%, rgba(113,98,93,1) 51%, rgba(122,115,105,1) 52%, rgba(113,98,93,1) 53%, rgba(113,98,93,1) 54%, rgba(122,115,105,1) 55%, rgba(106,99,89,1) 56%, rgba(106,99,89,1) 58%, rgba(79,76,76,0) 60%, rgba(65,64,70,1) 61%, rgba(65,64,70,1) 62%, rgba(90,85,89,1) 63%, rgba(78,74,73,1) 65%, rgba(78,73,74,1) 67%, rgba(78,73,74,0) 68%, rgba(78,73,75,1) 69%, rgba(78,73,75,1) 70%, rgba(78,73,76,0) 71%, rgba(77,72,76,0) 72%, rgba(24,19,25,0) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(24,19,25,0)), color-stop(34%,rgba(53,52,51,0)), color-stop(36%,rgba(55,54,52,1)), color-stop(37%,rgba(56,55,53,1)), color-stop(38%,rgba(68,67,66,1)), color-stop(39%,rgba(56,55,53,1)), color-stop(40%,rgba(68,67,66,1)), color-stop(41%,rgba(56,55,53,1)), color-stop(42%,rgba(87,77,76,1)), color-stop(44%,rgba(87,77,76,1)), color-stop(46%,rgba(113,110,103,1)), color-stop(48%,rgba(113,110,103,1)), color-stop(49%,rgba(113,98,93,1)), color-stop(51%,rgba(113,98,93,1)), color-stop(52%,rgba(122,115,105,1)), color-stop(53%,rgba(113,98,93,1)), color-stop(54%,rgba(113,98,93,1)), color-stop(55%,rgba(122,115,105,1)), color-stop(56%,rgba(106,99,89,1)), color-stop(58%,rgba(106,99,89,1)), color-stop(60%,rgba(79,76,76,0)), color-stop(61%,rgba(65,64,70,1)), color-stop(62%,rgba(65,64,70,1)), color-stop(63%,rgba(90,85,89,1)), color-stop(65%,rgba(78,74,73,1)), color-stop(67%,rgba(78,73,74,1)), color-stop(68%,rgba(78,73,74,0)), color-stop(69%,rgba(78,73,75,1)), color-stop(70%,rgba(78,73,75,1)), color-stop(71%,rgba(78,73,76,0)), color-stop(72%,rgba(77,72,76,0)), color-stop(100%,rgba(24,19,25,0)));
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(24,19,25,0) 0%,rgba(53,52,51,0) 34%,rgba(55,54,52,1) 36%,rgba(56,55,53,1) 37%,rgba(68,67,66,1) 38%,rgba(56,55,53,1) 39%,rgba(68,67,66,1) 40%,rgba(56,55,53,1) 41%,rgba(87,77,76,1) 42%,rgba(87,77,76,1) 44%,rgba(113,110,103,1) 46%,rgba(113,110,103,1) 48%,rgba(113,98,93,1) 49%,rgba(113,98,93,1) 51%,rgba(122,115,105,1) 52%,rgba(113,98,93,1) 53%,rgba(113,98,93,1) 54%,rgba(122,115,105,1) 55%,rgba(106,99,89,1) 56%,rgba(106,99,89,1) 58%,rgba(79,76,76,0) 60%,rgba(65,64,70,1) 61%,rgba(65,64,70,1) 62%,rgba(90,85,89,1) 63%,rgba(78,74,73,1) 65%,rgba(78,73,74,1) 67%,rgba(78,73,74,0) 68%,rgba(78,73,75,1) 69%,rgba(78,73,75,1) 70%,rgba(78,73,76,0) 71%,rgba(77,72,76,0) 72%,rgba(24,19,25,0) 100%);
  background: -o-radial-gradient(center, ellipse cover,  rgba(24,19,25,0) 0%,rgba(53,52,51,0) 34%,rgba(55,54,52,1) 36%,rgba(56,55,53,1) 37%,rgba(68,67,66,1) 38%,rgba(56,55,53,1) 39%,rgba(68,67,66,1) 40%,rgba(56,55,53,1) 41%,rgba(87,77,76,1) 42%,rgba(87,77,76,1) 44%,rgba(113,110,103,1) 46%,rgba(113,110,103,1) 48%,rgba(113,98,93,1) 49%,rgba(113,98,93,1) 51%,rgba(122,115,105,1) 52%,rgba(113,98,93,1) 53%,rgba(113,98,93,1) 54%,rgba(122,115,105,1) 55%,rgba(106,99,89,1) 56%,rgba(106,99,89,1) 58%,rgba(79,76,76,0) 60%,rgba(65,64,70,1) 61%,rgba(65,64,70,1) 62%,rgba(90,85,89,1) 63%,rgba(78,74,73,1) 65%,rgba(78,73,74,1) 67%,rgba(78,73,74,0) 68%,rgba(78,73,75,1) 69%,rgba(78,73,75,1) 70%,rgba(78,73,76,0) 71%,rgba(77,72,76,0) 72%,rgba(24,19,25,0) 100%);
  background: -ms-radial-gradient(center, ellipse cover,  rgba(24,19,25,0) 0%,rgba(53,52,51,0) 34%,rgba(55,54,52,1) 36%,rgba(56,55,53,1) 37%,rgba(68,67,66,1) 38%,rgba(56,55,53,1) 39%,rgba(68,67,66,1) 40%,rgba(56,55,53,1) 41%,rgba(87,77,76,1) 42%,rgba(87,77,76,1) 44%,rgba(113,110,103,1) 46%,rgba(113,110,103,1) 48%,rgba(113,98,93,1) 49%,rgba(113,98,93,1) 51%,rgba(122,115,105,1) 52%,rgba(113,98,93,1) 53%,rgba(113,98,93,1) 54%,rgba(122,115,105,1) 55%,rgba(106,99,89,1) 56%,rgba(106,99,89,1) 58%,rgba(79,76,76,0) 60%,rgba(65,64,70,1) 61%,rgba(65,64,70,1) 62%,rgba(90,85,89,1) 63%,rgba(78,74,73,1) 65%,rgba(78,73,74,1) 67%,rgba(78,73,74,0) 68%,rgba(78,73,75,1) 69%,rgba(78,73,75,1) 70%,rgba(78,73,76,0) 71%,rgba(77,72,76,0) 72%,rgba(24,19,25,0) 100%);
  background: radial-gradient(ellipse at center,  rgba(24,19,25,0) 0%,rgba(53,52,51,0) 34%,rgba(55,54,52,1) 36%,rgba(56,55,53,1) 37%,rgba(68,67,66,1) 38%,rgba(56,55,53,1) 39%,rgba(68,67,66,1) 40%,rgba(56,55,53,1) 41%,rgba(87,77,76,1) 42%,rgba(87,77,76,1) 44%,rgba(113,110,103,1) 46%,rgba(113,110,103,1) 48%,rgba(113,98,93,1) 49%,rgba(113,98,93,1) 51%,rgba(122,115,105,1) 52%,rgba(113,98,93,1) 53%,rgba(113,98,93,1) 54%,rgba(122,115,105,1) 55%,rgba(106,99,89,1) 56%,rgba(106,99,89,1) 58%,rgba(79,76,76,0) 60%,rgba(65,64,70,1) 61%,rgba(65,64,70,1) 62%,rgba(90,85,89,1) 63%,rgba(78,74,73,1) 65%,rgba(78,73,74,1) 67%,rgba(78,73,74,0) 68%,rgba(78,73,75,1) 69%,rgba(78,73,75,1) 70%,rgba(78,73,76,0) 71%,rgba(77,72,76,0) 72%,rgba(24,19,25,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00181319', endColorstr='#00181319',GradientType=1 );

  transform: rotateX(75deg);
}

.planet {
	box-shadow: inset -9px 0 50px 5px rgb(0, 0, 0),
		inset 16px 0 50px 2px rgba(255, 253, 230, 0.45);
  width: 180px;
  height: 180px;
  position: absolute;
  top: 110px;
  left: 110px;
  border-radius: 50%;
}

.top {
  clip: rect(0px, 180px, 91px, 0px);
}

.bottom {
  clip: rect(89px, 180px, 180px, 0px);
}

.planet-bg {
  background: -moz-radial-gradient(top, circle cover,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 40%, rgba(0,0,0,1) 100%), -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 62%, rgba(0,0,0,1) 100%), -moz-linear-gradient(bottom,  rgba(131,129,117,1) 0%, rgba(131,129,117,1) 3%, rgba(150,144,130,1) 5%, rgba(150,144,130,1) 9%, rgba(190,177,145,1) 20%, rgba(190,177,145,1) 32%, rgba(202,176,153,1) 35%, rgba(202,176,153,1) 47%, rgba(205,186,156,1) 48%, rgba(205,186,156,1) 49%, rgba(211,184,157,1) 51%, rgba(211,184,157,1) 59%, rgba(218,188,162,1) 61%, rgba(218,188,162,1) 63%, rgba(208,180,158,1) 64%, rgba(208,180,158,1) 68%, rgba(213,181,143,1) 74%, rgba(213,181,143,1) 78%, rgba(221,203,157,1) 83%, rgba(221,203,157,1) 85%, rgba(212,203,174,1) 90%, rgba(212,203,174,1) 100%);
  background: -webkit-radial-gradient(top, circle cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 40%,rgba(0,0,0,1) 100%), -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 62%,rgba(0,0,0,1) 100%), -webkit-linear-gradient(bottom,  rgba(131,129,117,1) 0%,rgba(131,129,117,1) 3%,rgba(150,144,130,1) 5%,rgba(150,144,130,1) 9%,rgba(190,177,145,1) 20%,rgba(190,177,145,1) 32%,rgba(202,176,153,1) 35%,rgba(202,176,153,1) 47%,rgba(205,186,156,1) 48%,rgba(205,186,156,1) 49%,rgba(211,184,157,1) 51%,rgba(211,184,157,1) 59%,rgba(218,188,162,1) 61%,rgba(218,188,162,1) 63%,rgba(208,180,158,1) 64%,rgba(208,180,158,1) 68%,rgba(213,181,143,1) 74%,rgba(213,181,143,1) 78%,rgba(221,203,157,1) 83%,rgba(221,203,157,1) 85%,rgba(212,203,174,1) 90%,rgba(212,203,174,1) 100%);
  background: -o-radial-gradient(top, circle cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 40%,rgba(0,0,0,1) 100%), -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 62%,rgba(0,0,0,1) 100%), -o-linear-gradient(bottom,  rgba(131,129,117,1) 0%,rgba(131,129,117,1) 3%,rgba(150,144,130,1) 5%,rgba(150,144,130,1) 9%,rgba(190,177,145,1) 20%,rgba(190,177,145,1) 32%,rgba(202,176,153,1) 35%,rgba(202,176,153,1) 47%,rgba(205,186,156,1) 48%,rgba(205,186,156,1) 49%,rgba(211,184,157,1) 51%,rgba(211,184,157,1) 59%,rgba(218,188,162,1) 61%,rgba(218,188,162,1) 63%,rgba(208,180,158,1) 64%,rgba(208,180,158,1) 68%,rgba(213,181,143,1) 74%,rgba(213,181,143,1) 78%,rgba(221,203,157,1) 83%,rgba(221,203,157,1) 85%,rgba(212,203,174,1) 90%,rgba(212,203,174,1) 100%);
  background: -ms-radial-gradient(top, circle cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 40%,rgba(0,0,0,1) 100%), -ms-radial-gradient(center, circle cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 62%,rgba(0,0,0,1) 100%), -ms-linear-gradient(bottom,  rgba(131,129,117,1) 0%,rgba(131,129,117,1) 3%,rgba(150,144,130,1) 5%,rgba(150,144,130,1) 9%,rgba(190,177,145,1) 20%,rgba(190,177,145,1) 32%,rgba(202,176,153,1) 35%,rgba(202,176,153,1) 47%,rgba(205,186,156,1) 48%,rgba(205,186,156,1) 49%,rgba(211,184,157,1) 51%,rgba(211,184,157,1) 59%,rgba(218,188,162,1) 61%,rgba(218,188,162,1) 63%,rgba(208,180,158,1) 64%,rgba(208,180,158,1) 68%,rgba(213,181,143,1) 74%,rgba(213,181,143,1) 78%,rgba(221,203,157,1) 83%,rgba(221,203,157,1) 85%,rgba(212,203,174,1) 90%,rgba(212,203,174,1) 100%);
  background: radial-gradient(circle at top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 40%,rgba(0,0,0,1) 100%), radial-gradient(ellipse at center, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 62%,rgba(0,0,0,1) 100%), linear-gradient(to top,  rgba(131,129,117,1) 0%,rgba(131,129,117,1) 3%,rgba(150,144,130,1) 5%,rgba(150,144,130,1) 9%,rgba(190,177,145,1) 20%,rgba(190,177,145,1) 32%,rgba(202,176,153,1) 35%,rgba(202,176,153,1) 47%,rgba(205,186,156,1) 48%,rgba(205,186,156,1) 49%,rgba(211,184,157,1) 51%,rgba(211,184,157,1) 59%,rgba(218,188,162,1) 61%,rgba(218,188,162,1) 63%,rgba(208,180,158,1) 64%,rgba(208,180,158,1) 68%,rgba(213,181,143,1) 74%,rgba(213,181,143,1) 78%,rgba(221,203,157,1) 83%,rgba(221,203,157,1) 85%,rgba(212,203,174,1) 90%,rgba(212,203,174,1) 100%);
}


#plutoplanet {
	position: relative;
    width: 67px;
	height: 67px;
	background: url("../images/Maps/Pluto2.jpg");
	border-radius: 50%;
	background-size: 175px;
	background-position: center top;
	box-shadow: inset -5px 0 15px 1px rgb(0, 0, 0),
		inset 5px 0 15px 1px rgba(255, 253, 230, 0.45);
	animation-name: rotatepluto;
	animation-duration: 12s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	-ms-transform: translateY(-50%) rotate(-17deg); /* IE 9 */
	-webkit-transform: translateY(-50%) rotate(-17deg); /* Chrome, Safari, Opera */
	transform: translateY(-50%) rotate(-17deg);
	z-index: -99;
    margin: auto;
	margin-top:10em;
}

#ceresplanet {
	position: relative;
    width: 50px;
	height: 50px;
	background: url("../images/Maps/Ceres.jpg");
	border-radius: 50%;
	background-size: 130px;
	background-position: center center;
	box-shadow: inset -5px 0 15px 1px rgb(0, 0, 0),
		inset 5px 0 15px 1px rgba(255, 253, 230, 0.45);
	animation-name: rotateceres;
	animation-duration: 3.4s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	-ms-transform: translateY(-50%) rotate(-10.58deg); /* IE 9 */
	-webkit-transform: translateY(-50%) rotate(-10.58deg); /* Chrome, Safari, Opera */
	transform: translateY(-50%) rotate(-10.58deg);
	z-index: -99;
    margin: auto;
	margin-top:10em;
}

#erisplanet {
	position: relative;
    width: 70px;
	height: 70px;
	background: url("../images/Maps/Eris.jpg");
	border-radius: 50%;
	background-size: 130px;
	background-position: center center;
	box-shadow: inset -8px 0 15px 1px rgb(0, 0, 0),
		inset 8px 0 15px 1px rgba(255, 253, 230, 0.45);
	animation-name: rotateceres;
	animation-duration: 3.65s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	-ms-transform: translateY(-50%) rotate(-44deg); /* IE 9 */
	-webkit-transform: translateY(-50%) rotate(-44deg); /* Chrome, Safari, Opera */
	transform: translateY(-50%) rotate(-44deg);
	z-index: -99;
    margin: auto;
	margin-top:10em;
}

#haumeaplanet {
	position: relative;
    width: 50px;
	height: 63px;
	background: url("../images/Maps/Haumea.jpg");
	border-radius: 49%;
	background-size: 155px;
	background-position: center center;
	box-shadow: inset -4px 0 15px 1px rgb(0, 0, 0),
		inset 4px 0 15px 1px rgba(255, 253, 230, 0.45);
	animation-name: rotatehaumea;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	-ms-transform: translateY(-50%) rotate(28deg); /* IE 9 */
	-webkit-transform: translateY(-50%) rotate(28deg); /* Chrome, Safari, Opera */
	transform: translateY(-50%) rotate(28deg);
	z-index: -99;
    margin: auto;
	margin-top:10em;
}

#makemakeplanet {
	position: relative;
    width: 55px;
	height: 55px;
	background: url("../images/Maps/Makemake.jpg");
	border-radius: 50%;
	background-size: 130px;
	background-position: center center;
	box-shadow: inset -3px 0 15px 1px rgb(0, 0, 0),
		inset 3px 0 15px 1px rgba(255, 253, 230, 0.45);
	animation-name: rotateceres;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	-ms-transform: translateY(-50%) rotate(-29deg); /* IE 9 */
	-webkit-transform: translateY(-50%) rotate(-29deg); /* Chrome, Safari, Opera */
	transform: translateY(-50%) rotate(-29deg);
	z-index: -99;
    margin: auto;
	margin-top:10em;
}

@keyframes rotatesun {
  from { background-position-x: 0px; }
  to { background-position-x: 775px; }
}


@keyframes rotatemercury {
  from { background-position-x: 0px; }
  to { background-position-x: 280px; }
}

@keyframes rotatevenus {
  from { background-position-x: 280px; }
  to { background-position-x: 0px; }
}

@keyframes rotateearth {
  from { background-position-x: 0px; }
  to { background-position-x: 340px; }
}

@keyframes rotatemars {
  from { background-position-x: 0px; }
  to { background-position-x: 260px; }
}

@keyframes rotatejupiter {
  from { background-position-x: 0px; }
  to { background-position-x: 600px; }
}

@keyframes rotatepluto {
  from { background-position-x: 0px; }
  to { background-position-x: 175px; }
}

@keyframes rotateceres {
  from { background-position-x: 0px; }
  to { background-position-x: 130px; }
}

@keyframes rotatehaumea {
  from { background-position-x: 0px; }
  to { background-position-x: 155px; }
}
/*glow for webkit*/

@-webkit-keyframes sunglow  {
  from {
    box-shadow: 0 0 110px 9px rgb(255, 69, 0), inset 0 0 20px 4px rgb(255, 69, 0);
  }
  to {
    box-shadow: 0 0 55px 4.5px rgb(255, 69, 0), inset 0 0 60px 8px rgb(255, 69, 0);
  }
}

/*glow for mozilla*/

@-moz-keyframes sunglow  {
  from {
    box-shadow: 0 0 110px 9px rgb(255, 69, 0), inset 0 0 20px 4px rgb(255, 69, 0);
  }
  to {
    box-shadow: 0 0 55px 4.5px rgb(255, 69, 0), inset 0 0 60px 8px rgb(255, 69, 0);
  }
}


/*glow*/

@keyframes sunglow  {
  from {
    box-shadow: 0 0 120px 10px rgb(255, 69, 0), inset 0 0 15px 4px rgb(255, 69, 0);
  }
  to {
    box-shadow: 0 0 60px 2px rgb(255, 69, 0), inset 0 0 60px 10px rgb(255, 69, 0);
  }
}

