#sun {
	position: relative;
	width: 350px;
	height: 350px;
	background: url("../images/sunmap.jpg");
	border-radius: 50%;
	background-size: 775px;
	background-position: center;
	animation:sunglow 3s ease-in-out infinite alternate, rotatesun 30s infinite linear;
	-ms-transform: translateY(-50%); /* IE 9 */
	-webkit-transform: translateY(-50%); /* Chrome, Safari, Opera */
	transform: translateY(-50%);
	z-index: -99;
    margin: auto;
	margin-top:15em;
}

#mercury {
  width: 120px;
	height: 120px;
	background: url("../images/mercurymap.png");
	border-radius: 50%;
	background-size: 280px;
	background-position: center;
	box-shadow: inset -16px 0 50px 6px rgb(0, 0, 0),
		inset 16px 0 50px 2px rgba(255, 253, 230, 0.45);
	animation-name: rotatemercury;
	animation-duration: 8s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	display: inline-block;
	margin-top: 50%;
	-ms-transform: translateY(-50%) rotate(-7deg); /* IE 9 */
	-webkit-transform: translateY(-50%) rotate(-7deg); /* Chrome, Safari, Opera */
	transform: translateY(-50%) rotate(-7deg);
}
}

#earth {
  width: 100px;
	height: 100px;
	background: url(http://www.noirextreme.com/digital/Earth-Color4096.jpg);
	border-radius: 50%;
	background-size: 210px;
	box-shadow: inset -16px 0 50px 6px rgb(0, 0, 0),
		inset 16px 0 50px 2px rgba(255, 253, 230, 0.45);
	animation-name: rotateearth;
	animation-duration: 8s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	display: inline-block;
	margin-top: 50%;
	-ms-transform: translateY(-50%); /* IE 9 */
	-webkit-transform: translateY(-50%); /* Chrome, Safari, Opera */
	transform: translateY(-50%);
}



@keyframes rotatemercury {
  from { background-position-x: 0px; }
  to { background-position-x: 280px; }
}
@keyframes rotateearth {
  from { background-position-x: 0px; }
  to { background-position-x: 211px; }
}
@keyframes rotatesun {
  from { background-position-x: 0px; }
  to { background-position-x: 775px; }
}


/*glow for webkit*/

@-webkit-keyframes sunglow  {
  from {
    box-shadow: 0 0 110px 9px rgb(255, 69, 0), inset 0 0 20px 4px rgb(255, 69, 0);
  }
  to {
    box-shadow: 0 0 55px 4.5px rgb(255, 69, 0), inset 0 0 60px 8px rgb(255, 69, 0);
  }
}

/*glow for mozilla*/

@-moz-keyframes sunglow  {
  from {
    box-shadow: 0 0 110px 9px rgb(255, 69, 0), inset 0 0 20px 4px rgb(255, 69, 0);
  }
  to {
    box-shadow: 0 0 55px 4.5px rgb(255, 69, 0), inset 0 0 60px 8px rgb(255, 69, 0);
  }
}


/*glow*/

@keyframes sunglow  {
  from {
    box-shadow: 0 0 110px 9px rgb(255, 69, 0), inset 0 0 20px 4px rgb(255, 69, 0);
  }
  to {
    box-shadow: 0 0 55px 4.5px rgb(255, 69, 0), inset 0 0 60px 8px rgb(255, 69, 0);
  }
}

box-shadow: 0 0 60px 10px rgb(255, 69, 0);