
@font-face {
  font-family: 'SukhumvitTadmai';
  src: url('SukhumvitTadmai.eot?#iefix') format('embedded-opentype'),  url('SukhumvitTadmai.woff') format('woff'), url('SukhumvitTadmai.ttf')  format('truetype'), url('SukhumvitTadmai.svg#SukhumvitTadmai') format('svg');
  font-weight: normal;
  font-style: normal;
}
